<!-- Footer -->
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">

<footer class="footer-20192">
    <div class="site-section">
      <div class="container">

        <div class="row">

          <div class="col-sm">
            <a  routerLink='home' class="footer-logo">Movie</a>
            <p class="copyright">
              <small>&copy; Noura Mamdouh 2023</small>
            </p>
            
          </div>
          
          <div class="col-sm">
            <ul class="list-unstyled links">
              <li><a routerLink='home'>Home</a></li>
              <li><a href="#">About</a></li>
              <!-- <a href="#" class=" img" style="background-image: url('../../assets/photos/images.jfif');width: 300px; height: 200px;
              display: block;background-position: center;
              background-size: cover;">
</a> -->
<div class="image"></div>

            </ul>
          </div>
          <div class="col-md-3 mt-3">
            <p style="font-size: 17px;">Follow us</p>
            <ul class="list-unstyled social">
              <li class="mx-1"><a><span class="fa-brands fa-facebook-f"></span></a></li>
              <li class="mx-1"><a ><span class="fa-brands fa-twitter"></span></a></li>
              <li class="mx-1"><a><span class="fa-brands fa-linkedin-in"></span></a></li>
              <li class="mx-1"><a ><span class="fa-brands fa-telegram"></span></a></li>
              <li class="mx-1"><a ><span class="fa-brands fa-instagram"></span></a></li>
            </ul>
          
            <p><i class="fa-solid fa-envelope mx-1" style="color: #ffffff;"></i> movies2211@gmail.com</p>
          </div>
          
        </div>
      </div>
      
      <div class="text-center p-3">
     © 2023 Copyright:
     <a class="text-white" routerLink='home'>Movie project </a>
    </div>
    </div>
  </footer>



<!-- Footer -->
